.titleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h4 {
        text-transform: uppercase;
        font-weight: 700;
        color: var(--primary);
        font-family :Arial, Helvetica, sans-serif;
    }
}

.highighter {
    display: inline-block;
    width: 4px;
    height: 12px;
    transform: skew(-20deg, 0deg);
    background-color: var(--title-mid);
    position: relative;
    top: 0px;
    margin-left: 10px;
    margin-right: 15px;
    text-transform: uppercase;

    &::before {
        content: '';
        display: inline-block;
        width: 4px;
        height: 12px;
        background-color: var(--title-before);
        position: absolute;
        left: -7px;
    }

    &::after {
        content: '';
        display: inline-block;
        width: 4px;
        height: 12px;
        background-color: var(--primary);
        position: absolute;
        right: -7px;
    }
}

// Navigation Menu CSS 
.menuWrapper {
    width: 100%;
    background-color: var(--black);
    z-index: 1;
    font-size: .95rem;
    color: var(--white);

    .topRow {
        display: flex;
        align-items: center;
        height: 40px;
        flex: 1;
        justify-content: space-between;
        background-color: var(--black);
        border-bottom: 1px solid rgba(255, 255, 255, .25);
        position: relative;

        ul {
            position: relative;
            z-index: 1;
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 15px;

            &.contactDetails {
                li {
                    i {
                        margin-right: 10px;
                    }
                }
            }

            &.socialIcons {
                li {
                    padding: 0px 1rem;
                    border-right: 1px solid rgba(255, 255, 255, .25);

                    &:last-child {
                        border: none;
                    }
                }
            }
        }

        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            width: 40%;
            height: 100%;
            background-color: var(--primary);
            left: 0;
            top: 0;
        }

        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            width: 40px;
            height: 115%;
            background-color: var(--primary);
            left: 38%;
            top: -11px;
            transform: rotateZ(20deg);
        }
    }

    .navContainer {
        padding: .5rem 0;
        font-size: 1rem;

        &>div {
            align-items: center;
        }

        .logoElem {
            height: 80px;

            img {
                height: 100%;
                width: auto;
            }
        }

        .navRightElem {
            height: 100%;
            letter-spacing: 1px;

            ul {
                list-style: none;
                display: flex;
                gap: 2rem;

                a {
                    &.active {
                        color: var(--primary);
                    }
                }
            }
        }
        .mobileMenuIcon{
            width: 40px;
            height: 40px;
            border: 1px solid rgba(255, 255, 255, 0.4);
            text-align: center;
            line-height: 40px;
            font-size: 1.5rem;
            transition : 0.1s linear all;
            border-radius: 4px;
            &:hover {
                background-color: var(--dirty-white);
                color: var(--primary);
            }
        }

        .bookNowElem {
            min-width: 180px;
            height: 60px;
            background-color: var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            a {
                background: transparent;
                border: none;
                color: var(--white);
                font-size: 1rem;
            }

            &::after {
                content: '';
                display: inline-block;
                width: 20px;
                height: 100%;
                position: absolute;
                right: -15px;
                top: 0;
                transform: skew(-20deg);
                background-color: var(--primary);
                border-left: 10px solid var(--black);
            }
        }
    }
}

// Landing Banner
.bannerBackground {
    width: 100%;
    height: calc(100% - 135px);
    background-image: url('../assets/bg_home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: var(--white);

    &::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .65);
        position: absolute;
        left: 0;
        top: 0;
    }

    &>div {
        position: relative;
        z-index: 1;
        height: 100%;
    }

    .leftBanner {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        h4 {
            color: var(--primary);
        }

        h2 {
            font-size: 3rem;
            line-height: 3rem;
            font-family: Arial, Helvetica, sans-serif;
        }

        a {
            display: inline-block;
            line-height: 50px;
            height: 50px;
            border-radius: 3px;
            padding: 0 2rem;
            background-color: var(--primary);
            color: var(--white);
            border: transparent;
            font-size: 1rem;
            cursor: pointer;
        }
    }

    .rightBanner {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;

        .shapeEle {
            position: absolute;
            width: 30%;
            background-color: var(--primary);
            height: 100%;
            z-index: -1;
            transform: skew(-20deg);
            left: 45%;

            &::before {
                content: '';
                display: inline-block;
                width: 50%;
                height: 50%;
                position: absolute;
                bottom: 0;
                background-color: var(--black);
                right: 100%;
            }

            &::after {
                content: '';
                display: inline-block;
                width: 50%;
                height: 80%;
                position: absolute;
                top: 0;
                background-color: var(--black);
                left: 100%;
            }
        }
    }
}

// About Section 

.aboutSection {
    padding: 4rem 0;
    height: 550px;

    &>div {
        height: 100%;
        gap: 5rem;

        .leftAbout {
            width: 35%;
            height: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: calc(100% - 100px);
            }

            &:after {
                content: '';
                display: inline-block;
                width: 150px;
                height: 100%;
                background-color: var(--primary);
                transform: skew(-20deg);
                position: absolute;
                left: 30%;
                top: 0px;
                z-index: -1;
            }

            .experincePic {
                position: absolute;
                left: 15px;
                top: 65px;
                width: 120px;
                height: 120px;
                background-image: url('../assets/experience-text-round.png');
                background-size: cover;
                animation-name: round-infinite;
                animation-duration: 12000ms;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }

            .locationmarker {
                position: absolute;
                left: 52px;
                top: 94px;
                height: 60px;
                width: auto;
            }

            @keyframes round-infinite {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(360deg);
                }
            }
        }

        .rightAbout {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 15px;

            h4 {
                display: flex;
                color: var(--primary);
                text-transform: uppercase;
                font-family: Arial, Helvetica, sans-serif;
            }

            h3 {
                font-size: 3rem;
                font-family: Arial, Helvetica, sans-serif;
            }

            p {
                width: 70%;
                color: #999;
            }

            .highighter {
                display: inline-block;
                width: 4px;
                height: 12px;
                transform: skew(-20deg, 0deg);
                background-color: var(--title-mid);
                position: relative;
                top: 3px;
                margin-left: 10px;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 4px;
                    height: 12px;
                    background-color: var(--title-before);
                    position: absolute;
                    left: -7px;
                }

                &::after {
                    content: '';
                    display: inline-block;
                    width: 4px;
                    height: 12px;
                    background-color: var(--primary);
                    position: absolute;
                    right: -7px;
                }
            }
        }

        .contactNo {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-top: 30px;

            i {
                width: 60px;
                height: 60xp;
                border: 1px solid var(--primary);
                text-align: center;
                line-height: 60px;
                color: var(--primary);
                font-size: 1.5rem;
            }

            p {
                color: #555;
                font-weight: 700;
                font-size: 1.2rem;
            }

            h3 {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 2rem;
                color: var(--primary);
            }
        }
    }
}

// Services
.servicesContainer {
    width: 100%;
    height: 650px;
    position: relative;
    background-color: var(--dirty-white);

    .bgLayer {
        width: 100%;
        height: 360px;
        background-image: url('../assets/bg_home.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        left: 0;
        top: 0;

        &::after {
            content: '';
            display: inline-block;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .80);
            top: 0;
            left: 0;
            position: absolute;
        }

        &>div {
            position: relative;
            flex-direction: column;
            z-index: 1;
            padding-top: 2rem;
            color: var(--white);

            h4 {
                justify-content: center;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                color: var(--primary);
                font-weight: 700;

                &>span {
                    top: 0
                }
            }

            h3 {

                font-size: 2rem;
                font-family: Arial, Helvetica, sans-serif;
                width: 35%;
                text-align: center;
            }
        }
    }
}

// ServiceBox 
.servicesRow {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;

    .servicesBox {
        width: 28%;
        box-shadow: 0 1px 5px rgb(0 0 0 / 15%);
        border-radius: 3px;
        overflow: hidden;
        background-color: var(--white);

        .imageBoxElem {
            position: relative;

            img {
                height: 205px;
                object-fit: cover;
            }

            .shapeEle {
                width: 50px;
                height: 100px;
                position: absolute;
                bottom: 6px;
                right: 20%;
                background-color: var(--primary);
                transform: skew(-20deg);
                transition: .2s linear all;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 50px;
                    height: 75px;
                    background-color: var(--black);
                    right: 30px;
                    bottom: 0px;
                    position: absolute;
                    transition: .3s linear all;

                }

                &::after {
                    transition: .3s linear all;
                    content: '';
                    display: inline-block;
                    width: 40px;
                    height: 55px;
                    background-color: var(--black);
                    right: -30px;
                    bottom: 0px;
                    position: absolute;
                }
            }

            .carContent {
                position: absolute;
                bottom: -30px;
                right: 0px;
                transform: scale(1);
                transition: .2s linear all;

                img {
                    width: 180px;
                    height: auto;
                }
            }

            &:hover {
                .carContent {
                    right: 0;
                    transform: scale(1.3);
                }

                .shapeEle {
                    height: 110px;

                    &::before {
                        height: 90px;
                    }

                    &::after {
                        height: 60px;
                    }

                }
            }
        }

        .serviceBxContent {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: .5rem;
            padding: 2rem 1.5rem;
            color: var(--black);

            p {
                line-height: 1.3rem;
            }
        }

        .readmore {
            width: 100px;
            height: 36px;
            background-color: var(--primary);
            color: var(--white);
            line-height: 36px;
            text-indent: 15px;
            font-size: .9rem;
            cursor: pointer;
            display: flex;

            &::after {
                content: '';
                display: inline-block;
                width: 20px;
                height: 36px;
                background-color: var(--primary);
                transform: skew(-20deg);
                position: relative;
                left: 6px;
            }
        }
    }
}

// Testimononial 
.testimonialContainer {
    width: 100%;
    height: 600px;
    padding: 3rem 0;
    background-color: var(--dirty-white);
    background-image: url('../assets//map.png');
    background-repeat: no-repeat;
    position: relative;

    &>div {
        height: 100%;
    }

    .testimonialBox {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .highighter {
            top: 0;
        }

        .titleSection {
            h4 {
                color: var(--primary);
            }

            h3 {

                font-size: 2rem;
                font-family: Arial, Helvetica, sans-serif;
            }

            margin-bottom: 2rem;
        }
    }
    // Faq
    .faq {
        width: 30%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 60%;
        background-color: var(--primary);
        background-image: url('../assets/line-pattern.png');
        background-blend-mode: overlay;
        display: flex;
        flex-direction: column;
        padding: 4rem 2rem;
        color: var(--white);
        gap: 2rem;

        .titleSection {
            gap: 1rem;

            .highighter {
                top: 0;
                background-color: rgba(255, 255, 255, .8);

                &::after {
                    background-color: var(--white);
                }

                &::before {
                    background-color: rgba(255, 255, 255, .5);
                }
            }

            p {
                font-size: .85rem;
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            li {
                display: flex;
                gap: 1rem;

                i {
                    width: 55px;
                    height: 55px;
                    font-size: 2.5rem;
                    text-align: center;
                    line-height: 55px;
                }

                .faqContent {
                    width: calc(100% - 55px);

                    h5 {
                        margin-top: 0;
                        font-size: 1rem;
                    }

                    p {
                        font-size: .9rem;
                    }
                }
            }
        }
    }

}


//    Review Box 
.reviewBox {
    max-width: 550px;
    max-height: 280px;
    background-color: var(--white);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    font-weight: 700;
    color: #666;
    line-height: 1.8rem;
    gap: 1rem;
    position: relative;
    .topIcon{
        width: 40px;
        height: 45px;
        background-color: var(--primary);
        transform: skew(-20deg);
        position: absolute;
        right: 100px;
        top: -20px;
        color: var(--white);
        line-height: 45px;
        text-align: center;
    }
    .reviewAuth{
        display: flex;
        width: 100%;
        gap: 1rem;
        i{
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            color: var(--primary);
            border : 1px solid var(--primary)
        }
        .reviewAuthor{
            display: flex;
            flex-direction: column;
            span{
                &:nth-child(2){
                    font-weight: 400;
                }
            }
        }
    }
}


    // Package Tours 
.packageServicesLayer{
    padding: 5rem 0;
    background-color: var(--dirty-white);
    & > div {
        height: 100%;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        h3{
            font-size: 2rem;
            text-transform: capitalize;
            font-family: Arial, Helvetica, sans-serif;
            color: var(--primary);
            margin-bottom: 0px;
        }
        p{
            width: 85%;
            margin: 0 auto;
            text-align: center;
        }
    }
    .parisPackageSectn{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
        .packageBx{
            max-width: 340px;
            flex: 1;
            height: 600px;
            background-image: url('../assets/services-1.jpg');
            background-size: cover;
            background-position: center center;
            border-radius: 4px;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 2rem;
            gap: .75rem;
            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .50);
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
            &:nth-child(2){
                background-image: url('../assets/services-2.jpg');
            }
            &:nth-child(3){
                background-image: url('../assets/services-3.jpg');
                background-position: center center;
            }
            & > *{
                position: relative;
                z-index: 1;
                color: var(--dirty-white);
            }
            h3{
                font-size: 1.5rem;
            }
            p{
                text-align: left;
                margin: 0;
                width: 100%;
            }
            .priceElem{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                label {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 3rem;
                    font-weight: 700;
                }
            }
            
            button {
                height: 45px;
                max-width: 200px;
                line-height: 45px;
                background-color: var(--primary);
                color: var(--white);
                border: transparent;
                min-width: 150px;
                border-radius: 3px;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
}



// Footer 

.footerContainer {
    width: 100%;
    padding: 3rem 0;
    height: 400px;
    background-color: var(--black);
    background-image: url('../assets/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;

    &>div {
        height: 100%;
        justify-content: space-around;
    }

    .footerBx {
        width: 26%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: .65rem;

        img {
            width: 250px;
        }

        p {
            font-size: .9rem;
            color: #aaa;
        }

        h3 {
            color: var(--primary);
            font-size: 1.2rem;
        }

        ul {
            color: var(--dirty-white);
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            li {
                display: flex;
                gap: 10px;
                align-items: center;
                border-bottom: 1px solid rgba(255, 255, 255, 0.15);
                line-height: 28px;

                &:last-child {
                    border: none;
                }
            }

            ol {
                display: flex;

                li {
                    border: none;
                    padding: 0 1rem;
                    font-size: 1.2rem;
                }
            }
        }

        &:not(:first-child) {
            // Quick links
            padding-top: 4rem;
        }
    }
}

// Form Field Components


// Sub Pages 
// Booking Page

.subPageBannerBg{
    width: 100%;
    height: 320px;
    background-image: url('../assets/paris-city.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--black);
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--dirty-white);
    h2{
        font-size: 3rem;
    }
    ul {
        list-style: none;
        display: flex;
        gap: 10px;
    }
}

// Why Choose US Content
.featureContainer{
    width: 100%;
    padding: 3rem 0 1rem;
    .titleSection {
        h4 {
            font-size: 1.5rem;
            color: var(--primary);
            display: none;
        }
        margin-bottom: 2rem;
    }
    .featureBoxContainer{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .featureBx{
            width: 150px;
            height: 150px;
            text-align: center;
            border-top: 1px solid var(--dirty-white);
            // border-radius: 4px;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            box-shadow: 0 1px 1px rgba(0,0,0,.3);
            i{
                font-size: 2rem;
                color: var(--primary);
                height: 40px;
                line-height: 40px;
            }
        }
    }
}

// Fleet/Cars Content 

.fleetContainer {
    width: 100%;
    padding: 2rem 0;
    & > div{
        display: flex;
        align-items: center;
        flex-direction: column;
        h3{
            font-size: 1.5rem;
        }

        .fleetContent{
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin : 2rem 0;
            .fleetBox{
                width: 280px;
                border: 1px solid var(--dirty-white);
                box-shadow: 0px 1px 1px rgba(0, 0, 0, .50);
                .fleetImage{
                    width: 100%;
                    aspect-ratio: 16/10;
                    background-size: cover;
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .fleetContentBx{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px;
                    gap: 10px;
                    h4{
                        font-weight: bold;
                        color: var(--primary);
                    }
                    p{
                        color: #555;
                        height: 86px;
                    }
                    a{
                        max-width: 80%;
                        padding: .6rem 2rem;
                        background-color: var(--primary);
                        color: var(--white);
                        text-align: center;
                        margin: auto;
                    }
                }
            }
        }
    }
}










/* Mobile Responsive Content */

// Media Query Mobile [ Max 480px / Min 320px ]

@media only screen and (max-width: 600px) {

    // Navigation menu
    .menuWrapper {
        .topRow {
            height: 70px;
            background-color: var(--primary);

            &>div {
                flex-direction: column;
                align-items: center;

                ul {
                    height: 35px;
                }
            }
            &::after{
                display: none;
            }
        }
        .navContainer{
            position: relative;
            .navRightElem{
                width: 220px;
                height: auto;
                padding: 10px;
                letter-spacing: 0;
                position: absolute;
                right: 10px;
                background-color: var(--black);
                top: 100%;
                z-index: 100;
                ul {
                    gap: 1rem;
                    flex-direction: column;
                }
            }
            .bookNowElem{
                display: none;
            }
        }
    }

    // Banner
    .bannerBackground {
        &>div {
            flex-direction: column;
        }

        .leftBanner {
            width: 100%;
            h2 {
                font-size: 1.5rem;
                line-height: 1.5rem;
            }
            button {
                height: 36px;
                font-size: .85rem;
                padding: 0 1rem;
            }
        }

        .rightBanner {
            .shapeEle {
                display: none;
            }
        }
    }

    // About Section
    .aboutSection{
        height: auto;
        & >div {
            flex-direction: column;
            flex-flow: column-reverse;
            .leftAbout{
                width: 100%;
                img {
                    height : 260px
                }
            }
            .rightAbout{
                h4{
                    font-size: .9rem;
                }
                h3{
                    font-size: 1.5rem;
                }
            }
        }
    }

    // Services
    .servicesContainer{
        height: auto;
        .bgLayer{
            height: auto;
            padding-bottom: 2rem;
            & >div {
                h3{
                    width: 100%;
                    font-size: 1rem;
                }
                .servicesRow{
                    flex-direction: column;
                    gap: 1rem;
                    .servicesBox{
                        width: 90%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    // Testimonial Container
    
    .testimonialContainer{
        height: auto;
        & >div {
            flex-direction: column;
            gap: 1rem;
            h3{
                font-size: 1.5rem;
            }
        }
        .testimonialBox {
            width: 100%;
            .reviewBox{
                width: 100%;
                max-height: none;
            }
        }
        .faq {
            position: static;
            width: 100%;
        }
    }

    .footerContainer{
        height: auto;
        background-size: cover;
        & > div {
            flex-direction: column;
            .footerBx{
                width: 100%;
            }
        }
    }
    .fleetContainer{
        & >div {
            .fleetContent{
                flex-direction: column;
                align-items: center;
                gap: 1rem;
            }
        }
    }

    // Package Services
    .packageServicesLayer{
        .parisPackageSectn{
            flex-direction:column;
            align-items: center;
            gap: 1rem;
        }
    }

}