.page {
    padding: 0px;
    height: 100vh;
    width: 100vw;
  }
  
.manageContainer{
    width: 100%;
    background-color: var(--dirty-white);
    
    & > div {
        padding : 5rem 0;
        flex-direction: column;
        h3{
            font-size: 2rem;
            text-align: center;
            color: var(--primary);
            margin-bottom: 1rem;
            span{
                color: var(--black);
            }
        }
    }

    .findBookingsForm{
        display: flex;
        border: 1px solid var(--primary);
        padding: 1rem;
        border-radius: 40px;
        gap: 1rem;

        .searchIcon{
            width: 55px;
            height: 55px;
            background-color: var(--primary);
            color: var(--white);
            border-radius: 30px;
            display: grid;
            place-items: center;
            cursor: pointer;
            transition: .1s linear all;
            &:hover {
                transform: scale(.9);
                box-shadow: 0px 1px 3px rgba(0,0,0,.8);
            }
        }
    }
}
.leftBorder{
    border-left: 1px solid var(--primary);
}

.formEleme{
    flex: 1;
    height: 55px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    input{
        flex: 1;
        height: 100%;
        border: none;
        text-indent: 10px;
        background-color: transparent;
        font-size: .9rem;
        font-weight: 500;
        outline: none;
    }
}

.booking_option_bar{
    width: 70%;
    margin: auto;
    height: 40px;
    // border-bottom: 1px solid rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    ul{
        list-style: none;
        margin: 0;
        display: flex;
        gap: 10px;
        li {
            button {
                padding: 10px 20px;
                background-color: var(--dirty-white);
                border:1px solid var(--primary);border-radius: 30px;
                cursor: pointer;
            }
            &:nth-child(2){
                button {
                    background-color: var(--primary);
                    color: var(--white);
                }
            }
        }
    }
}

.submitStyle{
    margin: 1rem  auto;
    height: 40px;
    width: 120px;
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
    line-height: 40px;
    border-radius: 30px;
    cursor: pointer;
}
.bookedContent{
    width: 70%;
    margin: auto;
    height: auto;
    margin-top: 3rem;
    border:1px solid var(--primary);
    border-bottom: none;
    .bookedFormRow{
        display: flex;
        border-bottom:1px solid var(--primary);

        .labelName,.labelValue{
            flex: 1;
            display: flex;
            align-items: center;
            padding: 10px;
            height: 55px;
            text-indent: 1rem;
        }
        .labelValue{
            border-left: 1px solid var(--primary);
            input {
                border: 1px solid rgba(0,0,0,.2);
                height: 36px;
                width: 100%;
                text-indent: 10px;
                background-color: transparent;
            }
            input[type="checkbox"]{
                width: 20px;
                height: 20px;
            }
        }
    }
}


.cancelWrapper{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: .1s ease-in all;
    visibility: hidden;
    &.isOpen{
        visibility: visible;
        .cancelModal{
            transform: scale(1);
        }
    }
    .cancelModal {
        width: 45%;
        min-height: 150px;
        position: relative;
        background-color: var(--white);
        padding: 1rem;
        display: flex;
        gap: .8rem;
        flex-direction: column;
        transition: .2s linear all;
        transform: scale(0);
        
        .closeIc{
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }
        .modalTitle {
            font-size: 1.6rem;
            text-align: center;
            font-weight: bold;
            color: var(--primary);
        }
        .modalContent{
            text-align: center;
            font-weight: 500;
        }
        .modalFoot{
            display: flex;
            margin-top: 1rem;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            button {
                background-color: var(--white);
                padding: 10px 20px;
                border-radius: 4px;
                color: var(--primary);
                border: 1px solid var(--primary);
                cursor: pointer;
                &.confirmBtn {
                    background-color: var(--primary);
                    color: var(--white);
                }
            }
        }
    }
}
