@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
  --white: #ffffff;
  --black: #171717;
  --grey-555 : #555;
  /* --primary: #efdf8a; */
  --primary: #ceaf06;
  --dirty-white : #F4F5F8;
  --title-before : #ceaf0650;
  --title-mid : #ceaf068f;
  scroll-behavior: smooth;
}

html,
body {
  width: 100vw;
  font-family: "Nunito", sans-serif;
}

body {
  font-family: "Nunito", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.container{
  width : 80% !important;
  height : auto;
  margin : 0 auto !important;
}
.text-left{
  text-align: left !important;
}
.flex {
  display: flex !important;
}
.height-auto {
  height: auto !important;
}
.flex-column {
  flex-direction: column !important;
}
.justify-space-between {
  justify-content: space-between !important;
}
.justify-content-center {
  justify-content: center !important;
}
.relative {
  position: relative !important;
}
.nav-active{
  color: var(--primary);
}
input[type="date"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
    /* display: none; */
    /* -webkit-appearance: none; */
    right: 10px;
    position: relative;
}
.css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

#inputPreview {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.css-checkbox+label {
  position: relative;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 22px;
  color: rgb(0, 0, 0);
}

.css-checkbox+label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: var(--primary);
  border-radius: 2px;
  box-shadow: none;
  margin-right: 10px;
}

.css-checkbox:checked+label::after {
  content: " ";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  left: 0px;
  top: 0px;
  text-align: center;
  background-color: var(--primary);
  font-size: 10px;
  height: 22px;
  width: 22px;
}


/* The container */
.radioContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radioContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radioContainer .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: var(--dirty-white);
  border: 2px solid var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.radioContainer input:checked ~ .checkmark {
  border: 2px solid var(--primary);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radioContainer .checkmark:after {
 	/* top: 9px;
	left: 9px; */
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: var(--primary);
}


/* Overriding carousel css */

.carousel .control-dots .dot{
  background-color: var(--primary) !important;
}

/* Media Query Mobile [ Max 480px / Min 320px ] */

@media only screen and (max-width: 480px) {
    .container {
        width: 96% !important;
    }
}